input,select{
    margin-bottom: 15px;
}
.conteudo{
    margin-bottom: 20px;
}
.titulos{
    font-weight: bolder;
    font-size: 20pt;
    color: #666;
    margin: 0px;
}
.descricao{
    margin: 0px;
    font-size: 12pt;
    color: #ccc;
}